* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto-Regular";
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.main {
  color: white;
}

.main__item {
  background: rgb(52, 52, 180);
  text-align: center;
  padding: 35px;
}

.animate {
  transform: rotateX(180deg);
  transition: 1.5s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  max-width: 500px;
  margin: 50px auto;
}

.statusBar {
  max-width: 500px;
  margin: 0 auto;
}

.statusBar__height {
  max-height: 100px;
  overflow-y: scroll;
}

.statusBar__height__statusText {
  min-height: 100px;
  background-color: #3434b4;
  padding: 10px;
  color: white;
}

.statusBar__button {
  text-align: center;
}

.statusBar__style {
  background: #3434b4;
  color: white;
  padding: 15px;
  margin-top: 20px;
}