* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto-Regular";
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

@import "main"